<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contacts List</h1>
        <div id="contact-list-container">
            
            <ul>
                
                <% for (let i of contact_list){ %>
                <li class="contact">
                    <div class="details">
                    <p><%= i.name %></p>
                    <p><%= i.phone %></p>
                </div>
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%= i._id %>">
                        <i class="fas fa-window-close">

                        </i>
                    </a>
                </div>
                </li>
            <%} %>
        
            </ul>
    
        </div>

        <form id="new-contact-form" action="/create-contact" method="POST">
            <br>
            <br>
            <input type="text" name="name" placeholder="Enter Name" required>
            <br>
            <br>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <br>
            <br>
            <br>
            <button type="submit">Add</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>